<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 align="center">DETECTOR DE MUTANTES</h1>
				<p> </p>		
		</div>	
	</div>
    <div class="row">	
        	<div class="col-sm-12">
                    <h3 align="center">INGRESE EL CODIGO DE DNA EN ESTRUCTURA DE 6 LETRAS ENTRE COMILLAS SEPARADOS POR UNA COMA</h3><hr />
                    <h3 align="center">SOLO COMBINACIONES CON "A , C, G, T"</h3><hr />
                    <form method="post" action="" method="POST">
                        <div class="form-group">
                                <p align="center">
                                          <label for="DNA"> DNA:</label>
                                        <input type="text" class="form-control" name="dna" placeholder=" " required>
                            </div>
                            
      
                                    <button type="submit" class="btn btn-success btn-block">INGRESAR</button>
                                      
                            
                        </form>
             </div>


	</div>